<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="wdth=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Forum</title> 
    </head>
    <body>
        <header>
            <h1>Forum</h1>
        </header>
        <main class="content">
            <nav>
                <a href="register.html">register</a>
                <a href="login.html">login</a>
            </nav>
            <h2>Posts</h2>
        </main>
    </body>
</html>